<div class="jumbotron text-center">
  <h1 class="display-4">Welcome to the SignalState demo for Angular 16!</h1>
  <p class="lead">This project is inspired by the enlightening Angular Signals tutorial by <strong>Deborah Kurata (
    author, speaker, Microsoft MVP, Google GDE)</strong>. We've built upon her ideas to demonstrate the capabilities of
    our library.</p>
  <hr class="my-4">
  <p>Feel free to explore the original tutorial without SignalState <a
    href="https://stackblitz.com/edit/angular-signals-rxjs-deborah-r2tmfy" class="btn btn-primary btn-lg" role="button">here</a>.
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h3>Explore the Power of SignalState</h3>
      <p>Our SignalState demo showcases how our library simplifies managing signals in your Angular applications. Dive
        in to see it in action!</p>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3'>
      <app-vehicle-list/>
    </div>
    <div class='col-md-9'>
      <div class='row'>
        <app-vehicle-detail/>
      </div>
      <div class='row'>
        <app-cart/>
      </div>
    </div>
  </div>
</div>
